#about {
  min-height: calc(100vh - 60px);
  padding: 4rem;
  overflow: hidden; // FOR NO SCROLL BARS

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  h1 {
    margin-top: 70px;
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
  'bioimage bio'
  'job1 job2';
  grid-template-columns: repeat(2, 1fr);

  .bio-image {
    grid-area: bioimage;
    width: auto;
    border-radius: 50%;
    margin: auto;
    border: 3px solid $span-color;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
    text-align: center;
  }

  .job {
    padding: 0.5rem;
    text-align: center;
    background-color: #002b80;
    padding: 2rem;

    img {
      width: 100px;
      border-radius: 20px;
      margin-top: 10px;
    }

    ul {
      * {
        list-style: none;
        float: left;
      }
    }
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }
}
