// MENU BUTTON, HAMBURGER
.menu-btn{
  right: 35px;
  top: 35px;
  cursor: pointer;
  position: absolute;
  z-index: 3;
  @include easeOut;

  &:hover{
    .btn-line{
      background-color: $span-color;
    }
  }

  .btn-line {
    width: 28px;
    height: 2px;
    margin: 0 0 5px;
    background-color: set-text-color($primary-color);
    @include easeOut;
  }

  // CHANGING HAMBURGER INTO -> 'X'
  &.close {
    transform: rotate(180deg);

    .btn-line {
      // LINE ONE - ROTATE
      &:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      // LINE TWO - HIDE
      &:nth-child(2) {
        opacity: 0;
      }
      // LINE 3 - ROTATE
      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }
}

// MENU OVERLAY
.menu{
  width: 100%;
  top: 0;
  opacity: 0.8;
  visibility: hidden;
  position: fixed;

  &.show{
    visibility: visible;
  }

  &-branding, &-nav{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    overflow: hidden;
  }

  &-nav{
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: darken($primary-color, 50);
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &.show{
      // SLIDE IN FROM TOP
      transform: translate3d(0, 0, 0);
    }
  }

  &-branding{
    background-color: darken($primary-color, 50);
    transform: translate3d(0, 100%, 0);
    @include easeOut

    &.show{
      // SLIDE IN FROM BOTTOM
      transform: translate3d(0, 0, 0);
    }

    .portrait{
      width: 250px;
      height: 250px;
      background: $portrait-image;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      border: 3px solid $secondary-color;
    }
  }

  .nav-item{
    transform: translate3d(600px, 0, 0);
    @include easeOut;

    &.show{
      // SLIDE IN FROM RIGHT
      transform: translate3d(0, 0, 0);
    }

    &.current > a{
      color: $secondary-color;
    }
  }

  .nav-link{
    color: set-text-color($primary-color);
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    @include easeOut;
    padding: 1rem 0;
    position: relative;

    &:hover{
      color: $span-color;
    }
  }
}


// DELAY EACH NAV ITEM SLIDE BY 0.2 SECONDS
@for $x from 1 through 4{
  .nav-item:nth-child(#{$x}){
    transition-delay: $x * 0.2s;
  }
}

// DESKTOP NAVBAR
.nav-web{
  width: 100%;
  height: 70px;
  background-color: $secondary-color;
  box-shadow:  0px 3px 25px $span-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  &:hover{
    height: 90px;
    @include easeOut;

    .navbar-web{
      padding-top: 20px;
      @include easeOut;
    }

  }

  .navbar-web{
    width: 75%;
    height: 70px;
    list-style: none;
    margin: 0 auto;


    .options{
      width: 25%;
      float: left;
      font-weight: 600;
      text-align: center;
      line-height: 70px;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.5s ease;

      a{
        color: #FFF;
        padding: 40px 95px 20px 95px;
        text-decoration: none;

        &:hover, .active{
          border-bottom: 5px solid steelblue;
          color: steelblue;
        }
      }
    }
  }

}
