<!-- views/nav.ejs -->
<nav class="nav">
  <ul class="navbar">
    <li class="options"><a href="/">Home</a></li>
    <li class="options"><a href="#education">Education</a></li>
    <li class="options"><a href="#projects">Projects</a></li>
    <li class="options"><a href="#contact">Contact</a></li>
  </ul>
</nav>
