<!-- views/navbar.ejs -->
<div class="bucket">
  <!-- DESKTOP -->
  <nav class="nav-web">
    <ul class="navbar-web">
      <li class="options active"><a href="/">Home</a></li>
      <li class="options"><a href="#education">Education</a></li>
      <li class="options"><a href="#projects">Projects</a></li>
      <li class="options"><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <!-- MOBILE -->
  <nav class="nav-mob">
    <div class="hamburger-btn">
      <i class="fas fa-bars" aria-hidden="true"></i>
      <i class="fas fa-times" aria-hidden="true"></i>
    </div>

    <ul class="navbar-mob">
      <li class="options active"><a href="/">Home</a></li>
      <li class="options"><a href="#education">Education</a></li>
      <li class="options"><a href="#projects">Projects</a></li>
      <li class="options"><a href="#contact">Contact</a></li>
    </ul>
  </nav>

</div>
