<!-- views/navbar.ejs -->
<header>
  <div class="menu-btn">
    <div class="btn-line"></div>
    <div class="btn-line"></div>
    <div class="btn-line"></div>
  </div>

  <nav class="menu">
    <div class="menu-branding">
      <div class="portrait"></div>
    </div>
    <ul class="menu-nav">
      <li class="nav-item active">
        <a href="/" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href=" /about" class="nav-link">About Me</a>
      </li>
      <li class="nav-item">
        <a href="/projects" class="nav-link">Projects</a>
      </li>
      <li class="nav-item">
        <a href="/contact" class="nav-link">Contact</a>
      </li>
    </ul>
  </nav>
</header>

<div class="bucket">
  <!-- DESKTOP -->
  <nav class="nav-web">
    <ul class="navbar-web">
      <li class="options"><a href="/">Home</a></li>
      <li class="options"><a href="/about">About</a></li>
      <li class="options"><a href="/projects">Projects</a></li>
      <li class="options"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</div>
