<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
  <title>About Me</title>
  <%- include('partials/links.ejs') %>
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <div id="about">
      <h1 class="lg-heading">
        About
        <span class="text-secondary">Me<span>
      </h1>
      <h2 class="sm-heading">
        Somthing about me...
      </h2>

      <div class="about-info">
        <img class="bio-image" src="/imgs/portrait.jpeg" alt="Portrait Image">
        <div class="bio">
          <h3>Biography</h3>
            <!--
              Description of the job goes here
           -->
           <p>
            An undergraduate student in Computer Science who's very passionate about programming
            and coding and how they are applied in society and to the real world. Being a Software
            Engineer is more than just programming. It’s a chance to help other people through the
            power of technology. Having this as a job gives engineers the power to influence other
            peoples life through programs that could help them with day to day tasks.
           </p>
        </div>
        <div class="job job-1">
          <h3>Capital One</h3>
          <img src="/imgs/CapitalOne.png" alt="Capital One Icon">
          <h4>Associate Software Engineer</h4>
          <p>
            <!--
              Description of the job goes here
           -->
          </p>
        </div>
        <div class="job job-2">
          <h3>Office of the Mayor of NYC</h3>
          <img src="/imgs/OOM.png" alt="NYC HRA Icon">
          <h4>Software Engineer Intern</h4>
          <p>
            <!--
              Description of the job goes here
           -->
          </p>
        </div>
        <div class="job job-3">
          <h3>KillerSnails LLC</h3>
          <img src="/imgs/killersnails.png" alt="Killersnails Icon">
          <h4>Software Engineer Intern</h4>
          <p>
            <!--
              Description of the job goes here
           -->
          </p>
        </div>
        <div class="job job-4">
          <h3>NYC Department of Education</h3>
          <img src="/imgs/nycdoe.png" alt="NYC DOE Icon">
          <h4>Computer Specialist Intern</h4>
          <p>
            <!--
              Description of the job goes here
           -->
          </p>
        </div>
      </div>
    </div>

  <%- include('partials/scripts.ejs') %>
</body>
</html>
