<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
  <title>About Me</title>
  <%- include('partials/links.ejs') %>
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <div id="about">
      <h1 class="lg-heading">
        About
        <span class="text-secondary">Me<span>
      </h1>
      <h2 class="sm-heading">
        Somthing about me...
      </h2>

      <div class="about-info">
        <img class="bio-image" src="/imgs/portrait.jpeg" alt="Portrait Image">
        <div class="bio">
          <h3>Biography</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non p
            roident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.
          </p>
        </div>
        <div class="job job-1">
          <h3>123 webshop</h3>
          <h6>front-end Developer</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non p
            roident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.
          </p>
        </div>
        <div class="job job-2">
          <h3>123 webshop</h3>
          <h6>front-end Developer</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non p
            roident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.
          </p>
        </div>
        <div class="job job-3">
          <h3>123 webshop</h3>
          <h6>front-end Developer</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non p
            roident, sunt in culpa qui officia deserunt mollit anim id est
            laborum.
          </p>
        </div>
      </div>
    </div>

    <footer class="main-footer">
      Copyright &copy; 2018
    </footer>


    <%- include('partials/scripts.ejs') %>
</body>
</html>
