<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
  <title>Contact Me</title>
  <%- include('partials/links.ejs') %>
</head>
<body>
  <%- include('partials/navbar.ejs') %>

  <div id="contact">
    <h1 class="lg-heading">
      Contact
      <span class="text-secondary">Me<span>
    </h1>
    <h2 class="sm-heading">
      Reach me....
    </h2>

    <div class="boxes">
      <div>
        <span class="text-secondary">Email:
        </span>urenav33@gmail.com
      </div>

      <div>
        <span class="text-secondary">Phone:
        </span>(929) 228 - 9363
      </div>

      <div>
        <a onclick="window.open('https://drive.google.com/open?id=1YC-zK7fBxloX_rSkFmTkWmr2WGmv4-8j61y_wFyv4hw')">
          <span>Download Resume</span>
        </a>
      </div>
    </div>

    <!-- Form for direct emails -->
    <form class="sendEmail" method="POST" action="contact/send">
      <div>
          <label for="nameInput">Name</label>
          <input id="nameInput" type="text" name="name" placeholder="Your Name" >
          <br>
        </div>
      <div>
        <label for="emailInput">Email</label>
        <input id="emailInput" type="email" name="email" placeholder="Your Email" >
        <br>
      </div>
      <div>
        <label for="textAreaInput">Message</label>
        <textarea id="textAreaInput" type="text" name="message" placeholder="Your Message" ></textarea>
        <br>
      </div>
      <div>
        <button class="btn-send" type="submit">Send</button>
      </div>
    </form>
  </div>

  <%- include('partials/footer.ejs') %>
  <%- include('partials/scripts.ejs') %>
</body>
</html>
