<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
  <title>SUV - Home</title>
  <%- include('partials/links.ejs') %>
</head>
<body id="bg-image">

  <%- include('partials/navbar.ejs') %>

  <div id="home">
    <h1 class="lg-heading">
      Starlyn
      <span class="text-secondary">Urena Ventura</span>
    </h1>
    <h2 class="sm-heading">
      Web Developer & Programmer
    </h2>

    <div class="icons">
      <a href="https://www.twitter.com/physsi07">
        <i class="fab fa-twitter fa-2x"></i>
        <div class="slider twitter">
          <p>Twitter</p>
        </div>
      </a>
      <a href="https://www.linkedin.com/in/physsi07">
        <i class="fab fa-linkedin fa-2x"></i>
        <div class="slider linkedin">
          <p>Linkedin</p>
        </div>
      </a>
      <a href="https://www.github.com/physsi07">
        <i class="fab fa-github fa-2x"></i>
        <div class="slider github">
          <p>Github</p>
        </div>
      </a>
      <a href="https://www.facebook.com/Phissy07">
        <i class="fab fa-facebook fa-2x"></i>
        <div class="slider facebook">
          <p>Facebook</p>
        </div>
      </a>
      <a href="https://www.instagram.com/Physsi07">
        <i class="fab fa-instagram fa-2x"></i>
        <div class="slider instagram">
          <p>Instagram</p>
        </div>
      </a>
    </div>
  </div>

  <%- include('partials/scripts.ejs') %>
</body>
</html>
