<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
  <title>Starlyn Urena Ventura - Portfolio</title>
  <%- include('partials/links.ejs') %>
</head>
<body id="bg-image">

  <%- include('partials/navbar.ejs') %>

  <div id="home">
    <h1 class="lg-heading">
      Starlyn
      <span class="text-secondary">Urena Ventura</span>
    </h1>
    <h2 class="sm-heading">
      Web Developer & Programmer
    </h2>

    <div class="icons">
      <a href="#!">
        <i class="fab fa-twitter fa-2x"></i>
      </a>
      <a href="#!">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
      <a href="#!">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
      <a href="#!">
        <i class="fab fa-github fa-2x"></i>
      </a>
    </div>
  </div>

  <%- include('partials/scripts.ejs') %>
</body>
</html>
