<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
  <title>Starlyn Urena Ventura - Portfolio</title>
  <%- include('partials/links.ejs') %>
</head>
<body>
  <%- include('partials/navbar.ejs') %>
  <%- include('partials/about.ejs') %>

  <%- include('partials/scripts.ejs') %>
  <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
</body>
</html>
