<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
  <title>Projects</title>
  <%- include('partials/links.ejs') %>
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <div id="projects">
      <h1 class="lg-heading">
        My
        <span class="text-secondary">Projects<span>
      </h1>
      <h2 class="sm-heading">
        Check out some of my projects...
      </h2>

      <div class="projects">
        <div class="item">
          <a href="#!">
            <img src="imgs/project1.png" alt="projects">
          </a>
          <a class="btn-light" href="#">
            <i class="fas fa-eye">Project</i>
          </a>
          <a class="btn-dark" href="#">
            <i class="fab fa-github">Github</i>
          </a>
        </div>
        <div class="item">
          <a href="#!">
            <img src="imgs/project2.png" alt="projects">
          </a>
          <a class="btn-light" href="#">
            <i class="fas fa-eye">Project</i>
          </a>
          <a class="btn-dark" href="#">
            <i class="fab fa-github">Github</i>
          </a>
        </div>
        <div class="item">
          <a href="#!">
            <img src="imgs/project3.png" alt="projects">
          </a>
          <a class="btn-light" href="#">
            <i class="fas fa-eye">Project</i>
          </a>
          <a class="btn-dark" href="#">
            <i class="fab fa-github">Github</i>
          </a>
        </div>
        <div class="item">
          <a href="#!">
            <img src="imgs/project4.png" alt="projects">
          </a>
          <a class="btn-light" href="#">
            <i class="fas fa-eye">Project</i>
          </a>
          <a class="btn-dark" href="#">
            <i class="fab fa-github">Github</i>
          </a>
        </div>
        <div class="item">
          <a href="#!">
            <img src="imgs/project5.png" alt="projects">
          </a>
          <a class="btn-light" href="#">
            <i class="fas fa-eye">Project</i>
          </a>
          <a class="btn-dark" href="#">
            <i class="fab fa-github">Github</i>
          </a>
        </div>
      </div>
    </div>

    <footer class="main-footer">
      Copyright &copy; 2018
    </footer>


    <%- include('partials/scripts.ejs') %>
</body>
</html>
