<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1">
  <title>Projects</title>
  <%- include('partials/links.ejs') %>
</head>
<body>
    <%- include('partials/navbar.ejs') %>

    <div id="projects">
      <h1 class="lg-heading">
        My
        <span class="text-secondary">Projects<span>
      </h1>
      <h2 class="sm-heading">
        Check out some of my projects...
      </h2>

      <div class="projects">
        <div class="item">
          <img src="imgs/tip-calculator.gif" alt="projects">
          <i class="btn-light fas fa-eye"> Tip Calculator</i>
          <a class="btn-dark" href="https://github.com/suv27ix27/Tip-Calculator">
            <i class="fab fa-github"> Github</i>
          </a>
        </div>
        <div class="item">
          <img src="imgs/to-do-app.gif" alt="projects">
          <i class="btn-light fas fa-eye"> Notes Android App</i>
          <a class="btn-dark" href="https://github.com/suv27ix27/Notes">
            <i class="fab fa-github"> Github</i>
          </a>
        </div>
        <div class="item">
          <img src="imgs/Slot-Machine.gif" alt="projects">
          <i class="btn-light fas fa-eye"> Slot Machine iOS App</i>
          <a class="btn-dark" href="https://github.com/suv27ix27/SlotMachine">
            <i class="fab fa-github"> Github</i>
          </a>
        </div>
        <div class="item">
          <img src="imgs/mlb.gif" alt="projects">
          <i class="btn-light fas fa-eye"> MLB Data (NodeJS) WebApp</i>
          <a class="btn-dark" href="https://github.com/suv27ix27/MLB">
            <i class="fab fa-github"> Github</i>
          </a>
        </div>
        <div class="item">
          <img src="imgs/spaceship.gif" alt="projects">
          <i class="btn-light fas fa-eye"> Space Ship Game</i>
          <a class="btn-dark" href="https://github.com/suv27ix27/SpaceShip">
            <i class="fab fa-github"> Github</i>
          </a>
        </div>
      </div>
    </div>

  <%- include('partials/scripts.ejs') %>
</body>
</html>
