@keyframes anime {
  0% {
    border: 2px solid salmon;
    background: #fdd9d5; }
  100% {
    border: 2px solid #fdd9d5;
    background: salmon; } }

.menu-btn {
  right: 35px;
  top: 35px;
  cursor: pointer;
  position: absolute;
  z-index: 3;
  transition: all 0.5s ease-out; }
  .menu-btn:hover .btn-line {
    background-color: #34b7f1; }
  .menu-btn .btn-line {
    width: 28px;
    height: 2px;
    margin: 0 0 5px;
    background-color: #FFF;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px); }

.menu {
  width: 100%;
  top: 0;
  opacity: 0.8;
  visibility: hidden;
  position: fixed; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: black;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background-color: black;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("/imgs/portrait.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      border: 3px solid #010149; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #010149; }
  .menu .nav-link {
    color: #FFF;
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s ease-out;
    padding: 1rem 0;
    position: relative; }
    .menu .nav-link:hover {
      color: #34b7f1; }

.nav-item:nth-child(1) {
  transition-delay: 0.2s; }

.nav-item:nth-child(2) {
  transition-delay: 0.4s; }

.nav-item:nth-child(3) {
  transition-delay: 0.6s; }

.nav-item:nth-child(4) {
  transition-delay: 0.8s; }

.nav-web {
  width: 100%;
  height: 70px;
  background-color: #010149;
  box-shadow: 0px 3px 25px #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }
  .nav-web:hover {
    height: 90px;
    transition: all 0.5s ease-out; }
    .nav-web:hover .navbar-web {
      padding-top: 20px;
      transition: all 0.5s ease-out; }
  .nav-web .navbar-web {
    width: 75%;
    height: 70px;
    list-style: none;
    margin: 0 auto;
    padding: 0; }
    .nav-web .navbar-web .options {
      width: 25%;
      float: left;
      font-weight: 600;
      text-align: center;
      line-height: 70px;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.5s ease; }
      .nav-web .navbar-web .options:hover, .nav-web .navbar-web .options .active {
        border-bottom: 5px solid steelblue; }
        .nav-web .navbar-web .options:hover a, .nav-web .navbar-web .options .active a {
          color: steelblue;
          padding: 40px 30px 20px 30px; }
    .nav-web .navbar-web .active {
      border-bottom: 5px solid steelblue; }
      .nav-web .navbar-web .active a {
        color: steelblue; }

#home {
  min-height: 100%;
  padding: 4rem;
  overflow: hidden; }
  #home .icons {
    margin-top: 1rem;
    display: flex;
    flex-direction: column; }
    #home .icons .fab {
      padding: 0.4rem; }
    #home .icons .fa-twitter:hover {
      color: #1da1f2; }
    #home .icons .fa-facebook:hover {
      color: #3b5998; }
    #home .icons .fa-linkedin:hover {
      color: #007bb5; }
    #home .icons .fa-github:hover {
      color: #333; }
    #home .icons .fa-instagram:hover {
      color: #c32aa3; }
    #home .icons .slider {
      position: absolute;
      width: 0px;
      height: 40px;
      left: 7em;
      text-align: center;
      line-height: 40px;
      border-radius: 3px;
      transform: translate(0, -100%);
      transition: all 0.5s ease; }
      #home .icons .slider p {
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 900;
        padding: 0;
        margin: 0;
        opacity: 0; }
    #home .icons a {
      width: 43px; }
      #home .icons a:hover .slider {
        width: 180px;
        transition: all 0.5s ease; }
        #home .icons a:hover .slider p {
          opacity: 1;
          transition: all 1s 0.2s ease; }
        #home .icons a:hover .slider.facebook {
          background-color: #3b5998; }
        #home .icons a:hover .slider.instagram {
          background-color: #c32aa3; }
        #home .icons a:hover .slider.linkedin {
          background-color: #007bb5; }
        #home .icons a:hover .slider.github {
          background-color: #333; }
        #home .icons a:hover .slider.twitter {
          background-color: #1da1f2; }
  #home h1 {
    margin-top: 200px; }

#about {
  min-height: calc(100vh - 60px);
  padding: 4rem;
  overflow: hidden; }
  #about .icons {
    margin-top: 1rem; }
    #about .icons a {
      padding: 0.4rem; }
      #about .icons a:hover {
        color: #010149;
        transition: all 0.5s ease-out; }
  #about h1 {
    margin-top: 70px; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio' 'job1 job2';
  grid-template-columns: repeat(2, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    width: auto;
    border-radius: 50%;
    margin: auto;
    border: 3px solid #34b7f1; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem;
    text-align: center; }
  .about-info .job {
    padding: 0.5rem;
    text-align: center;
    background-color: #002b80;
    padding: 2rem; }
    .about-info .job img {
      width: 100px;
      border-radius: 20px;
      margin-top: 10px; }
    .about-info .job ul * {
      list-style: none;
      float: left; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }

#projects {
  min-height: calc(100vh - 60px);
  padding: 4rem;
  overflow: hidden; }
  #projects h1 {
    margin-top: 70px; }

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.7rem; }
  .projects img {
    width: 100%; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #010149;
      transition: all 0.5s ease-out; }

.btn, .btn-dark, .btn-light {
  border: 0;
  display: block;
  margin-bottom: 0.3rem;
  padding: 0.5rem 1rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    color: #FFF;
    padding: 5px;
    background-color: #041340;
    border: 1px solid #34b7f1; }

.btn-dark {
  color: #FFF;
  background-color: black; }

.btn-light {
  color: #000;
  background-color: #4cbff3; }

#contact {
  min-height: calc(100vh - 60px);
  padding: 4rem 4rem 1rem 4rem;
  overflow: hidden; }
  #contact h1 {
    margin-top: 70px; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes a {
    cursor: pointer; }
  .boxes div {
    width: 390px;
    font-size: 1.5rem;
    text-align: center;
    border: 3px solid #FFF;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      color: #000;
      padding: 0.5rem 1.5rem;
      background-color: #34b7f1; }
      .boxes div:hover span {
        color: #000; }

.sendEmail {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center; }
  .sendEmail div {
    width: 80%;
    display: flex;
    flex-flow: column wrap;
    align-items: center; }
    .sendEmail div label {
      color: #34b7f1;
      font-size: 24px;
      font-weight: bolder;
      display: flex;
      align-self: flex-start; }
    .sendEmail div #nameInput, .sendEmail div #emailInput, .sendEmail div #textAreaInput {
      width: 100%;
      font-size: 18px;
      border-radius: 15px;
      padding: 10px;
      outline: none;
      box-shadow: 0 0 10px 0 #34b7f1; }
    .sendEmail div #textAreaInput {
      height: 200px; }
    .sendEmail div .btn-send {
      width: 120px;
      height: 30px;
      border: 1px solid #010149;
      border-radius: 20px; }
      .sendEmail div .btn-send:hover {
        animation: anime;
        animation-duration: 1.5s;
        animation-iteration-count: 5;
        transition: all 0.5s ease-out; }

* {
  margin: 0;
  box-sizing: border-box; }

body {
  height: 100%;
  color: #FFF;
  background-color: #041340;
  margin: 0;
  line-height: 1.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
  body#bg-image {
    background: url("/imgs/background.jpg");
    background-size: cover;
    background-attachment: fixed; }
    body#bg-image:after {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      background-color: rgba(4, 19, 64, 0.5);
      position: absolute;
      z-index: -1; }

h1, h2, h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading, h2.sm-heading, h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background-color: rgba(10, 48, 160, 0.5); }

a {
  color: #FFF;
  text-decoration: none; }

header {
  width: 100%;
  position: fixed;
  z-index: 2; }

.text-secondary {
  color: #34b7f1;
  text-shadow: 2px 2px #FFF; }

.main-footer {
  height: 60px;
  text-align: center;
  padding: 1.2rem;
  font-size: 12px;
  color: #FFF;
  border-bottom: 3px solid #34b7f1;
  box-shadow: 0px 3px 25px #000;
  background-color: #072170; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  header {
    display: none; }
  .projects {
    grid-template-columns: repeat(3, 1fr); }
  .sendEmail {
    width: 80%; } }

@media screen and (max-width: 768px) {
  .bucket {
    display: none; }
  #home, #about, #projects, #contact {
    align-items: center;
    text-align: center; }
    #home .lg-heading, #about .lg-heading, #projects .lg-heading, #contact .lg-heading {
      line-height: 1em;
      margin-bottom: 1rem; }
    #home .icons, #about .icons, #projects .icons, #contact .icons {
      display: block; }
      #home .icons .fab, #about .icons .fab, #projects .icons .fab, #contact .icons .fab {
        padding: 0.8rem; }
        #home .icons .fab.fa-twitter, #about .icons .fab.fa-twitter, #projects .icons .fab.fa-twitter, #contact .icons .fab.fa-twitter {
          color: #1da1f2; }
        #home .icons .fab.fa-facebook, #about .icons .fab.fa-facebook, #projects .icons .fab.fa-facebook, #contact .icons .fab.fa-facebook {
          color: #3b5998; }
        #home .icons .fab.fa-linkedin, #about .icons .fab.fa-linkedin, #projects .icons .fab.fa-linkedin, #contact .icons .fab.fa-linkedin {
          color: #007bb5; }
        #home .icons .fab.fa-github, #about .icons .fab.fa-github, #projects .icons .fab.fa-github, #contact .icons .fab.fa-github {
          color: #333; }
        #home .icons .fab.fa-instagram, #about .icons .fab.fa-instagram, #projects .icons .fab.fa-instagram, #contact .icons .fab.fa-instagram {
          color: #c32aa3; }
      #home .icons .slider, #about .icons .slider, #projects .icons .slider, #contact .icons .slider {
        opacity: 0; }
    #home .sendEmail, #about .sendEmail, #projects .sendEmail, #contact .sendEmail {
      width: 100%; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    font-size: 24px;
    transform: translate3d(-100%, 0, 0); }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      width: 150px;
      height: 150px;
      background: url("/imgs/portrait.jpeg");
      background-repeat: no-repeat;
      background-size: cover; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  #home, #about, #projects, #contact {
    padding: 2rem; }
    #home h1, #about h1, #projects h1, #contact h1 {
      margin-top: 10vh; }
    #home .lg-heading, #about .lg-heading, #projects .lg-heading, #contact .lg-heading {
      margin-top: 5rem;
      font-size: 5rem; }
    #home .icons, #about .icons, #projects .icons, #contact .icons {
      display: block; }
      #home .icons .fab, #about .icons .fab, #projects .icons .fab, #contact .icons .fab {
        padding: 0.8rem; }
        #home .icons .fab.fa-twitter, #about .icons .fab.fa-twitter, #projects .icons .fab.fa-twitter, #contact .icons .fab.fa-twitter {
          color: #1da1f2; }
        #home .icons .fab.fa-facebook, #about .icons .fab.fa-facebook, #projects .icons .fab.fa-facebook, #contact .icons .fab.fa-facebook {
          color: #3b5998; }
        #home .icons .fab.fa-linkedin, #about .icons .fab.fa-linkedin, #projects .icons .fab.fa-linkedin, #contact .icons .fab.fa-linkedin {
          color: #007bb5; }
        #home .icons .fab.fa-github, #about .icons .fab.fa-github, #projects .icons .fab.fa-github, #contact .icons .fab.fa-github {
          color: #333; }
        #home .icons .fab.fa-instagram, #about .icons .fab.fa-instagram, #projects .icons .fab.fa-instagram, #contact .icons .fab.fa-instagram {
          color: #c32aa3; }
      #home .icons .slider, #about .icons .slider, #projects .icons .slider, #contact .icons .slider {
        opacity: 0; }
    #home .sendEmail, #about .sendEmail, #projects .sendEmail, #contact .sendEmail {
      width: 100%; }
  .projects {
    grid-template-columns: 1fr; } }
